<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.heh.homeband">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".app.HomebandApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".activities.searchgroup.SearchGroupResultActivity"
            android:label="Liste des groupes">

        </activity>
        <activity
            android:name=".activities.searchevents.SearchEventsResultActivity"
            android:label="Liste des évènements">

        </activity>
        <activity android:name=".activities.PasswordForgetActivity"

            />
        <activity android:name=".activities.BandOnClick.GroupeDetailsActivity"
            android:label="Details groupe"
            android:parentActivityName=".activities.searchgroup.SearchGroupResultActivity"
            />
        <activity android:name=".activities.BandOnClick.AlbumDetailsActivity"
            android:label="Détails album"
            android:parentActivityName=".activities.BandOnClick.GroupeDetailsActivity"/>
        <activity android:name=".activities.BandOnClick.EventDetailsActivity"
            android:label="Détails Evenements"
            android:parentActivityName=".activities.BandOnClick.GroupeDetailsActivity"
            />
    </application>

</manifest>